

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Автор</th>
      <th>Название</th>
      <th>Дата</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of restApiService.userSts"  r>
      <td>{{ user.id  }}</td>
      <td>{{ user.categoria }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.fullName}}</td>
      <td>
        <button
          class="btn btn-link open">
        </button>
      </td>
    </tr>
    </tbody>
  </table>


