<form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field class="example-full-width">
    <mat-label>Company </mat-label>
    <input matInput disabled value="Interprojekt GMBH">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>ФИО:</mat-label>
          <input matInput id="fullname1"  formControlName="fullName" >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Должность:</mat-label>
          <input matInput formControlName="categoria">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Логин:</mat-label>
          <input matInput  formControlName="username">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Пароль:</mat-label>
          <input matInput formControlName="password">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Почта:</mat-label>
          <input matInput placeholder="@gmail.com" formControlName="email">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Телефон:</mat-label>
          <input matInput placeholder="+380(**)-123-45-67" formControlName="phone">
        </mat-form-field>
      </td>
    </tr>

      <mat-form-field class="example-full-width">
        <mat-label>Описание:</mat-label>
        <input matInput placeholder="............." formControlName="promt">
      </mat-form-field>


  </table>


  <button mat-stroked-button color="basic"
          type="submit"
          (click)="submit()">
    Создать
  </button>

</form>

