<form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field class="example-full-width">
    <mat-label>Company </mat-label>
    <input matInput disabled value="Interprojekt GMBH">
  </mat-form-field>
{{this.form.value.mexCat}}
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>ФИО:</mat-label>
          <input matInput id="fullname1"  formControlName="fullName" >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Должность:</mat-label>
          <input matInput formControlName="position">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Логин:</mat-label>
          <input matInput  formControlName="username">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Пароль:</mat-label>
          <input matInput formControlName="password" ngModel minlength="4">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Почта:</mat-label>
          <input matInput placeholder="@gmail.com" formControlName="email">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Телефон:</mat-label>
          <input matInput placeholder="+380(**)-123-45-67" formControlName="phone">
        </mat-form-field>
      </td>
    </tr>




  </table>

  <button mat-stroked-button color="basic"
          type="submit">
    Создать
  </button>
  <button class="btn-btn-right"
          mat-stroked-button color="basic"
          type="button"
          [routerLink]="['/manager','admin-manager']">
    Отменить

  </button>

</form>

