
<nav class="navbar main">
  <h1>Моточасы</h1>
  <ul>
    <li routerLinkActive="active">
      <a class="btn-navbar" mat-stroked-button color="primary" [routerLink]="['/manager', 'journal']">Журнал</a>
    </li>
    <li routerLinkActive="active">
      <a class="btn-navbar" mat-stroked-button color="primary" [routerLink]="['/manager', 'calendar']">Календарь</a>
    </li>
    <li routerLinkActive="active">
      <a class="btn-navbar" mat-stroked-button color="primary" [routerLink]="['/manager', 'list-work']">Календарь</a>
    </li>
    <li routerLinkActive="active">
      <a class="btn-navbar" mat-stroked-button color="primary" [routerLink]="['/manager', 'admin-manager']">Панель
        администратора</a>
    </li>
    <li>

      <div class="btn-logout" ><a   mat-stroked-button color="primary" href="#" (click)="logout($event)">Выйти</a></div>
    </li>
  </ul>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>


