
<!--<div class="card">-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <td>№ </td>-->
<!--      <td>ФИО  </td>-->
<!--      <td>Логин</td>-->
<!--      <td>Пароль </td>-->
<!--      <td> Должность </td>-->
<!--      <td> МобТел </td>-->

<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    &lt;!&ndash;    &ndash;&gt;-->
<!--    &lt;!&ndash;<tr *ngFor="let user of restApiService.userSts; let idx =index">&ndash;&gt;-->

<!--    &lt;!&ndash;      <td>{{idx+1}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;      <td>{{user.id}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;      <td>{{user.fullName}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;      <td>{{user.position}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;      <td>{{user.username}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;      <td>{{user.password}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;      <td>{{user.phone}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;      <td>{{user.categoria}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;      <td>{{user.prompt}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;    </tr>&ndash;&gt;-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
