


<form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field class="example-full-width">
    <mat-label>Company </mat-label>
    <input matInput disabled value="Interprojekt GMBH">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0">

    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Моточасы:</mat-label>
          <input matInput formControlName="hour" placeholder="Введите задание поточасов">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Работы:</mat-label>
          <input matInput formControlName="title" placeholder="Провести ТО">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field class="example-full-width" >
          <mat-label>id:</mat-label>
          <input matInput formControlName="caid">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>catitle:</mat-label>
          <input matInput formControlName="catitle">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>механізм:</mat-label>
          <input matInput placeholder="вентелятор" formControlName="mexanism">
        </mat-form-field>
      </td>
    </tr>

  </table>


  <mat-form-field class="example-full-width2">
    <mat-label>Пользователь:</mat-label>
    <input matInput placeholder="............." formControlName="user">
  </mat-form-field>


  <br>






  <button mat-stroked-button color="basic"
          type="submit"
          (click)="submit()">
    Создать
  </button>


<!--  <button class="btn-btn-right"-->
<!--          mat-stroked-button color="basic"-->
<!--          type="button"-->
<!--          [routerLink]="['/manager','admin-manager']">-->
<!--    Отменить-->
<!--  </button>-->

</form>

