


<form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field class="example-full-width">
    <mat-label>Company </mat-label>
    <input matInput disabled value="Interprojekt GMBH">
  </mat-form-field>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Моточасы:</mat-label>
          <input matInput formControlName="hour" placeholder="Введите задание поточасов">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Работы:</mat-label>
          <input matInput formControlName="title" placeholder="Провести ТО">
        </mat-form-field>
      </td>
    </tr>
<!--    <tr>-->
<!--      <td>-->
<!--        <mat-form-field class="example-full-width" >-->
<!--          <mat-label>caid:</mat-label>-->
<!--          <input matInput formControlName="caid">-->
<!--        </mat-form-field>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>-->
<!--        <mat-form-field class="example-full-width">-->
<!--          <mat-label>catitle:</mat-label>-->
<!--          <input matInput formControlName="catitle">-->
<!--        </mat-form-field>-->
<!--      </td>-->
<!--    </tr>-->
        <tr>
          <td >
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Выберите категорию:</mat-label>
              <mat-select [(ngModel)]="selectedValueCat"  formControlName="caid">
                <mat-option *ngFor="let categories of category" [value]="categories.id" >
                  {{categories.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p> категория: {{selectedValueCat}} </p>

            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Механизм</mat-label>
              <mat-select  [(ngModel)]="selectedValueMex"  formControlName="mexId">
                <mat-option *ngFor="let mexanisms of mexanism" [value]="mexanisms.id" >
                  {{mexanisms.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p> Выбор механизма: {{selectedValueMex}} </p>

            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Выберите пользователя </mat-label>
              <mat-select [(ngModel)]="selectedValueUser"  formControlName="userId">
                <mat-option *ngFor="let usersz of userSts" [value]="usersz.username" >
                  {{usersz.username}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p> Пользователь: {{selectedValueUser}} </p>
          </td>

    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>mexHour:</mat-label>
          <input matInput placeholder="вентелятор" formControlName="mexHour">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <br>






  <button mat-stroked-button color="basic"
          type="submit">
<!--          (click)="submit()">-->
    Создать
  </button>


<!--  <button class="btn-btn-right"-->
<!--          mat-stroked-button color="basic"-->
<!--          type="button"-->
<!--          [routerLink]="['/manager','admin-manager']">-->
<!--    Отменить-->
<!--  </button>-->

</form>

