.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;

}

.example-right-align {
  text-align: right;

}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;



}

input.example-right-align {
  -moz-appearance: textfield;

}
.example-container {
  align-content: center;
}
.blocktext {

margin: auto;
}
.user {

  width: 40%;
  &.btn-login{
    width: 30%;
  }
  &.contlor-form{
    background: #00ffa9;
  }
}

