
<div class="blocktext" align="middle">

  <div  [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
      <h2>Вход в систему</h2>


   <form  >
     <div class="example-container ">
       <mat-form-field appearance="fill" id="user" class="user">
         <mat-label >Нажмите что бы ввести Email</mat-label>
         <input matInput   placeholder="ivan@gmail.com" [formControl]="email" required >
         <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
       </mat-form-field>
     </div>
     <div class="example-container " >
       <mat-form-field appearance="fill" class="user">
         <mat-label >Enter your password</mat-label>
         <input matInput  placeholder="password" [formControl]="password" required>
         <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
       </mat-form-field>
     </div>


    </form>

</div>
  <button class="user btn-login" (click)="login()" mat-raised-button color="primary"  type="submit" [disabled]="!email.valid||!password.valid">Вход</button>

